body {
    background-color: black;
    color: white;
    max-width: width 960px;
    text-align: center;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center
}

.cell img {
    width: 25px;
    height: auto
}

.floor {
    background-color: gray
}

.wall {
    background-color: brown
}

.collectedballs {
    color: white;
}
table{

    text-align: center;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    font-size: xx-large;
}

.restart {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    display: 'none'
}

.restart:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    display: 'none'
}